<body>
<p>
This Java library implements the L1-regularized version of <b>S</b>parse <b>A</b>dditive <b>G</b>enerativ<b>E</b> models of Text (SAGE). 
It is an algorithm for learning sparse representations of text.
Details of the algorithm is described in
<blockquote>
Eisenstein, Jacob, Amr Ahmed, and Eric P. Xing. "Sparse additive generative models of text." In <i>Proceedings of ICML</i>. pp. 1041-1048. 2011. [<a href="http://www.cc.gatech.edu/~jeisenst/papers/icml2011.pdf">PDF</a>]
</blockquote>
The idea behind the L1-regularized implementation of SAGE is briefly described in
<blockquote>
Yanchuan Sim, Noah A. Smith, David A. Smith. "Discovering Factions in the Computational Linguistics Community." In <i>Proceedings of the Association for Computational Linguistics (ACL 2012) Special Workshop on Rediscovering 50 Years of Discoveries</i>. pp. 22-32. 2012. [<a href="http://dl.acm.org/citation.cfm?id=2390511">PDF</a>]
</blockquote>
</p>

<p>
To immediately use SAGE on an existing corpus of text (with labels), refer to the documentation for {@link edu.cmu.cs.ark.sage.apps.SupervisedSAGE}.
</p>

<p>
To use {@link edu.cmu.cs.ark.sage.SAGE} in your own model, refer to the documentation for {@link edu.cmu.cs.ark.sage.SAGE}. 
</p>
</body>